<app-sidebar></app-sidebar>

<div class="main-content container mt-4">
  <div class="dashboard-card">
    <div class="dashboard-title-with-button">
      <h4 class="dashboard-title mb-0">Comisiones Registradas</h4>
      <button class="add-user-btn" (click)="abrirModal()">+ Agregar Comisión</button>
    </div>

    <app-table
      [headers]="['Empleado', 'Sucursal', 'Comisión', 'Volumen', 'Fecha']"
      [rows]="comisiones"
      [keys]="['userName', 'branchName', 'commissionSale', 'volume', 'createdAtFormatted']"
      [actionsTemplate]="accionesTemplate">
    </app-table>

    <ng-template #accionesTemplate let-commission>
      <button class="btn btn-sm btn-warning me-2" (click)="abrirModal(commission)">Editar</button>
      <button class="btn btn-sm btn-danger" (click)="eliminarComision(commission)">Eliminar</button>
    </ng-template>
  </div>
</div>
