<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="dashboard-wrapper">
    <div class="dashboard-card">
      <h2 class="dashboard-title">Empleados</h2>
      <div class="dashboard-cards">
        <div class="mini-card" routerLink="/Attendance-dashboard">
          <h3>👥 Asistencia</h3>
          <p>Gestión de usuarios de asistencia en el sistema</p>
        </div>
        <div class="mini-card" routerLink="/Comission">
          <h3>👥 Comision</h3>
          <p>Gestión de usuarios de asistencia en el sistema</p>
        </div>
      </div>
    </div>
  </div>
</div>
