<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="dashboard-wrapper">
    <div class="dashboard-card">
        <div class="dashboard-title-with-button">
        <h2 class="dashboard-title">Usuarios Registrados</h2>
        <button class="add-user-btn" (click)="abrirModal()">+ Agregar Usuario</button>
      </div>
      <div class="table-responsive">
        <table class="routes-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>RFC</th>
              <th>Usuario</th>
              <th>Teléfono</th>
              <th>Sucursal</th>
              <th>Fecha de Contratación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usuarios">
              <td>{{ user.name }}</td>
              <td>{{ user.rfc }}</td>
              <td>{{ user.user }}</td>
              <td>{{ user.phoneNumber }}</td>
              <td>{{ user.branchId || 'No asignada' }}</td>
              <td>{{ user.hiringDate | date:'mediumDate' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
