<app-sidebar></app-sidebar>

<div class="main-content container mt-4">
  <div class="dashboard-card">
    <div class="dashboard-title-with-button">
      <h4 class="dashboard-title mb-0">Perfiles Registrados</h4>
      <button class="add-user-btn" (click)="abrirModal()">+ Agregar Perfil</button>
    </div>

    <app-table
      [headers]="['Nombre', 'Rango', 'Creado']"
      [rows]="perfiles"
      [keys]="['name', 'rank', 'createdAtFormatted']"
      [actionsTemplate]="accionesTemplate">
    </app-table>

    <ng-template #accionesTemplate let-profile>
      <button class="btn btn-sm btn-warning me-2" (click)="abrirModal(profile)">Editar</button>
      <button class="btn btn-sm btn-danger" (click)="eliminarPerfil(profile)">Eliminar</button>
    </ng-template>
  </div>
</div>
