<div class="table-responsive">
  <table class="routes-table">
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header }}</th>
        <th *ngIf="actionsTemplate">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td *ngFor="let key of keys">{{ row[key] }}</td>
        <td *ngIf="actionsTemplate">
          <ng-container *ngTemplateOutlet="actionsTemplate; context: { $implicit: row }"></ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
