<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="dashboard-wrapper">
    <div class="dashboard-card">
      <h4 class="dashboard-title">Registrar Costo</h4>

      <form [formGroup]="form" (ngSubmit)="guardarCosto()">
        <div class="row g-3">
          <div class="col-md-4">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control" formControlName="price" min="1">
          </div>

          <div class="col-md-4">
            <label for="productId" class="form-label">Producto (ID)</label>
            <input type="number" class="form-control" formControlName="productId" min="1">
          </div>

          <div class="col-md-4">
            <label for="units" class="form-label">Unidades</label>
            <input type="number" class="form-control" formControlName="units" min="1">
          </div>
        </div>

        <div class="mt-4 text-end">
          <button type="submit" class="add-user-btn" [disabled]="form.invalid">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

