<app-sidebar></app-sidebar>

<div class="main-content container mt-4">
  <div class="dashboard-card">
    <div class="dashboard-title-with-button">
      <h4 class="dashboard-title mb-0">Sucursales Registradas</h4>
      <button class="add-user-btn" (click)="abrirModal()">+ Agregar Sucursal</button>
    </div>

    <app-table
      [headers]="['Nombre', 'Dirección', 'Teléfono', 'Encargado', 'Cliente', 'Creado']"
      [rows]="sucursales"
      [keys]="['name', 'address', 'phoneNumber', 'manager', 'clientName', 'createdAtFormatted']"
      [actionsTemplate]="accionesTemplate">
    </app-table>

    <ng-template #accionesTemplate let-branch>
      <button class="btn btn-sm btn-warning me-2" (click)="abrirModal(branch)">Editar</button>
      <button class="btn btn-sm btn-danger" (click)="eliminar(branch)">Eliminar</button>
    </ng-template>
  </div>
</div>
