<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="logo-section" *ngIf="!isCollapsed">
    <img src="assets/man.png" alt="Logo" class="logo" />
    <h2>AquaAzul</h2>
  </div>

  <div class="menu-scrollable">
    <nav class="menu">
      <a routerLink="/dashboard" routerLinkActive="active" [title]="'Inicio'">
        <span>🏠</span><span *ngIf="!isCollapsed">Inicio</span>
      </a>
      <a routerLink="/Employee" routerLinkActive="active" [title]="'Alta y Configuración'">
        <span>🧑‍💼</span><span *ngIf="!isCollapsed">Empleados</span>
      </a>
             <a routerLink="/Routes" routerLinkActive="active" [title]="'Rutas'">
        <span>📌</span><span *ngIf="!isCollapsed">Rutas</span>
      </a>
      <a routerLink="/configuracion" routerLinkActive="active" [title]="'Alta y Configuración'">
        <span>🧰</span><span *ngIf="!isCollapsed">Alta y Configuración</span>
      </a>

            <button (click)="logout()" [title]="'Cerrar sesión'">
        <span>🔓</span><span *ngIf="!isCollapsed">Cerrar sesión</span>
      </button>
    </nav>
  </div>

  <div class="toggle-btn-modern" (click)="toggleSidebar()">
    <span *ngIf="isCollapsed">☰</span>
    <span *ngIf="!isCollapsed">✖</span>
  </div>
</div>
